
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <style>
        h1, h2 {
            text-align: center;
        }
         h3 {
            
            text-align: justify;
        }
    </style>

    <title>ExtracExtracurricular Activities</title>
</head>

<body>

    <div style="background-color: #ADD8E6">
        <h1> Curriculum Vitae </h1>
    </div>
    <div style="background-color: #728FCE">
        <h2 style="color:white">ExtracExtracurricular Activities</h2>
    </div>

    <div>
    <h3>1.: @ViewBag.first</h3>
    <h3>2.: @ViewBag.second</h3>
    <h3>3.: @ViewBag.third</h3>
    <h3>4.: @ViewBag.fourth</h3>
    <h3>5.: @ViewBag.fifth</h3>

    <br /><br /><br />
                <div style="text-align:center">
                    <a href="/CV/CVintro">Back</a>
                </div>
</div>
</body>

</html>

